<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
			<h6 class="modal-title">专属客服</h6>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="text-center">
				<img src="#(resourceUploadDomain)/default/service-qrcode.png" class="rounded" style="width: 200px;" />
			</div>
			<div class="row">
				<div class="alert alert-primary align-items-center text-center" role="alert" style="font-size: 0.8rem;margin-bottom: 0;">
					<i class="bi bi-exclamation-triangle-fill"></i> 请扫描上面二维码，添加专属客服微信
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">关闭</button>
		</div>
	</div>
</div>